/* CURRENTLY IN: styles/main.css */
.left-col {
	background-color: #ADD8E6;
	min-height: 100px;
}
.right-col {
	background-color: #ADD8E6;
	min-height: 100px;
}

.twitter-wrapper {
	padding-top: 20px;
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
}
.headline {
	font-size: 18px;
	text-align: center;
	font-family: arial;
	color: #545454;
}
.navbar-bottom {
	background-color: #28364f;
	color:#FFFFFF;
}